<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cirrus.Analyzers" version="1.17.87.3" targetFramework="net462" developmentDependency="true" />
  <package id="Cirrus.Business" version="0.32.18095.4" targetFramework="net462" />
  <package id="Cirrus.Business.Interface" version="0.32.18087.1" targetFramework="net462" />
  <package id="Cirrus.Core" version="0.31.18082.1" targetFramework="net462" />
  <package id="Cirrus.Core.DAL" version="0.32.18096.1" targetFramework="net462" />
  <package id="Cirrus.Core.Localisation" version="0.29.18047.1" targetFramework="net462" />
  <package id="Cirrus.Core.Validation" version="0.24.17340.1" targetFramework="net462" />
  <package id="Cirrus.Deployer" version="1.17.198.6" targetFramework="net462" />
  <package id="Cirrus.Engine.Interface" version="0.32.18093.2" targetFramework="net462" />
  <package id="Cirrus.Engine.Templating.BusinessLogic" version="0.32.18095.1" targetFramework="net462" />
  <package id="Cirrus.Engine.Workflow.Interface" version="0.28.18039.1" targetFramework="net462" />
  <package id="Cirrus.IoT.Device.Printer" version="0.26.18004.2" targetFramework="net462" />
  <package id="Cirrus.IoT.Device.Printer.EPosBuilder" version="0.30.18064.4" targetFramework="net462" />
  <package id="Cirrus.Logging" version="0.30.18064.2" targetFramework="net462" />
  <package id="Cirrus.Logging.Interface" version="0.30.18059.4" targetFramework="net462" />
  <package id="Cirrus.Module.Core" version="0.32.18093.1" targetFramework="net462" />
  <package id="Cirrus.Module.Core.DAL" version="0.32.18093.1" targetFramework="net462" />
  <package id="Cirrus.Module.Core.Interface" version="0.32.18093.1" targetFramework="net462" />
  <package id="Cirrus.RuleSet" version="1.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="Cirrus.Services.Core" version="0.11.17103.3" targetFramework="net462" />
  <package id="Cirrus.Services.Core.Ext" version="0.11.17103.3" targetFramework="net462" />
  <package id="Cirrus.Services.Core.Ext.Contracts" version="0.11.17103.3" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Flurl" version="2.6.0" targetFramework="net462" />
  <package id="Flurl.Http" version="2.1.1" targetFramework="net462" />
  <package id="FSharp.Core" version="4.1.17" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Redis" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.ServiceBus3" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Azure.Amqp" version="2.1.3" targetFramework="net462" />
  <package id="Microsoft.Azure.Devices" version="1.5.1" targetFramework="net462" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.4.1" targetFramework="net462" />
  <package id="Microsoft.Azure.EventHubs" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Azure.EventHubs.Processor" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="NeinLinq" version="2.2.1" targetFramework="net462" />
  <package id="NeinLinq.EntityFramework" version="2.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net462" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Owin.Compression" version="1.0.15" targetFramework="net462" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net462" />
  <package id="PInvoke.BCrypt" version="0.5.111" targetFramework="net462" />
  <package id="PInvoke.Kernel32" version="0.5.111" targetFramework="net462" />
  <package id="PInvoke.NCrypt" version="0.5.111" targetFramework="net462" />
  <package id="PInvoke.Windows.Core" version="0.5.111" targetFramework="net462" />
  <package id="RestSharp" version="105.2.3" targetFramework="net462" />
  <package id="Scriban" version="1.0.0" targetFramework="net462" />
  <package id="Serilog" version="2.6.0" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.4" targetFramework="net462" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Console" version="4.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.IO" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.1" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net462" />
  <package id="System.Threading.ThreadPool" version="4.0.10" targetFramework="net462" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Validation" version="2.4.18" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="4.1.7" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="9.0.0" targetFramework="net462" />
</packages>