<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cirrus.Analyzers" version="1.17.87.3" targetFramework="net462" developmentDependency="true" />
  <package id="Cirrus.Business.Interface" version="0.32.18087.1" targetFramework="net462" />
  <package id="Cirrus.Core" version="0.31.18082.1" targetFramework="net462" />
  <package id="Cirrus.Core.DAL" version="0.32.18096.1" targetFramework="net462" />
  <package id="Cirrus.Core.Localisation" version="0.29.18047.1" targetFramework="net462" />
  <package id="Cirrus.Core.Validation" version="0.24.17340.1" targetFramework="net462" />
  <package id="Cirrus.Logging.Interface" version="0.30.18059.4" targetFramework="net462" />
  <package id="Cirrus.Module.Core.DAL" version="0.32.18093.1" targetFramework="net462" />
  <package id="Cirrus.RuleSet" version="1.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="NeinLinq" version="2.2.1" targetFramework="net462" />
  <package id="NeinLinq.EntityFramework" version="2.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>